:root {
  Max-width: 100%;
}

form {
  border: 3px solid #f1f1f1;
  width: 300px;

  display: inline-block;

}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.chart-container {
  border: 1px solid black;
  margin: 7%;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* unlimited width */
.container {
  display: grid;
  width: 90%;

  grid-template-columns: repeat(2, 1fr);
  /* 2 columns with equal width */
  grid-template-rows: repeat(2, 1fr);
  /* 2 rows with equal height */
  gap: 10px;
  /* Adjust the gap between cells */
}

/* Smaller screens */
@media screen and (max-width: 1920px) {
  .container {
    display: grid;
    width: 73.5%;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns with equal width */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows with equal height */
    gap: 10px;
    /* Adjust the gap between cells */
  }
}


.profile_container {
  padding: 16px;
  width: 270px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

body {
  text-align: center;
  width: 95%;
}



#insertHere {
  margin-top: 10px;
}

#insertHere p {
  margin: 5px 0;
  font-size: 16px;
  color: #ff0000;
}